* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}


/*   REAL CSS */

.wrapper {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.wrapper__inner {
  width: 450px;
  padding: 40px 50px 30px 50px;

  -moz-box-shadow: 0 0 5px #999;
  -webkit-box-shadow: 0 0 5px #999;
  box-shadow: 0 0 5px #999;
}
.title {
  color: 222222;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  margin-bottom: 20px;
}
.form {
 width: 100%;
 margin-top: 20px;
}

.button {
  width: 100%;
  height: 45px;
  background-color: #1A73E8;
  border-radius: 3px;
  color: white;

  font-size: 14px;
  line-height: 18px;
  font-weight: 600;

  transition: background-color .2s linear;
}
.button:hover {
  background-color: #174EA6;
}
.error {
  color: #FF564E;
  font-size: 14px;
  line-height: 18px;
}

.input {
  display: block;

  border: 1px solid black;
  width: 300px;
  height: 35px;


}

@media (max-width: 470px) {
  .wrapper__inner {
      width: 100%;
      box-shadow: none;
      padding: 0 15px;
  }
}